<div class="animated fadeIn">
  <div class="container">
    <div class="jumbotron text-center">
      <h2>Welcome to the MEAN Authentication App!</h2>

      <p id="intro-text">This app was created in an effort to flex my knowledge of the MEAN stack, which I gathered over the course of the past few months!</p>

      <div class="row button-row">
        <button class="btn btn-success">Login</button>
        <button class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>

  <div class="container-fluid description">
    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3><strong>ExpressJS</strong></h3>
        <p>This app uses Express JS to serve the endpoints from the backend.</p>
        <p>Stores all relevant user information in MongoDB via Mongoose.</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3><strong>Angular</strong></h3>
        <p>Angular 2 is used via the Angular-CLI to generate the front-end framework for this application!</p>
        <p>Auth0 will handle the future front-end authorization.</p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <h3><strong>JWT Token</strong></h3>
        <p>Provides authorization via JWT tokens, layered by the PassportJS middleware!</p>
      </div>
    </div>
  </div>

  <div class="row footer text-center">
        Follow me on Github! @awaisabir
  </div>
</div>
